/* Base button styling */
.hover1-button1 {
    background-color: #fa2f07;
    color: white;
    padding: 20px 65px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.8s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  @media (max-width:820px)
  {
    .hover1-button1{
      padding: 17px 40px;
    }
  }
  
  /* Button hover effect */
  .hover1-button1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    color: aqua;
    background-color: #031945ec;
    transition: all 2s ease;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(0, -50%) scale(0);
  }
  
  .hover1-button1:hover::before {
    transform: translate(-50%, -50%) scale(1);
    
  }
  
  .hover1-button1:hover {
    box-shadow: 0px 4px 15px rgba(254, 254, 255, 0.75);
  }