
.github-bar {
    width: 300px;
    height: 20px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.github {
    width: 0;
    height: 100%;
    background-color: #6501f0;
    transition: width 0.8s ease;
    border-radius: 15px 0 0 15px;
    
}
.github-bar:hover .github {
    width: 85%; 
}
